<div class="home-main">
  <h2>{{ "welcometothetestapplication" | translate }}</h2>
  <div style="display: flex; flex-direction: column;padding: 30px;">
    <h2>Bubble charts</h2>
    <div id="bubbleCharts" style="width: 70%; height: 500px;margin-bottom: 20px;"></div>
    <h2>Line charts</h2>

    <div id="lineChart" style="width: 70%; height: 500px;margin-bottom: 40px; "></div>
    <h2>Doughnut charts</h2>

    <div id="doughoutChart" style="width: 70%; height: 500px; margin-top: 50px;"></div>
  </div>
</div>