.main-container {
    width: 100%;
    display: flex;

    .sidenav-container {
        width: 230px;

    }

    .router-container {
        width: calc(100% - 230px);
        height: calc(100vh - 50px);
        overflow: auto;
    }
}

.charts-container {
    width: 100%;
    height: 500px;
    background-color: red;
    padding: 20px;
}